@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/base';
@import 'bitters/grid_settings';

.row {
	@include outer-container;

	@include media($desktop-med) {
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

a.btn {
	@include linear-gradient($terracotta, $mojo);
	border-radius: 3px;
	color: $white;
	height: em(50);
	line-height: em(50);
	font-size: em(18);
	text-align: center;

	&:hover {
		border-bottom: none;
		color: $white;
		@include linear-gradient(lighten($terracotta, 5%), lighten($mojo, 5%));
	}
	
	&.blue {
		@include linear-gradient($river-bed, $oxford-blue);

		&:hover {
			@include linear-gradient(lighten($river-bed, 5%), lighten($oxford-blue, 5%));
		}
	}

	@include media($desktop-small) {
		font-size: em(16);
	}

	@include media($mobile) {
		font-size: em(14);
	}
}

#main-header {
	background-color: $white;
	border-top: solid 3px $refreshorange;
	padding: em(30) 0;
	text-align: center;

	@include media($mobile) {
		height: auto;
	}
}

#logo {
	@include retina-image('logo', 176px 85px, $asset-pipeline: true);
	background-size: 100%;
	display: block;
	height: 85px;
	margin: 0 auto em(20);
	overflow: hidden;
	text-indent: -9999px;
	width: 176px;
}

#main-nav {
	ul {
		li {
			display: inline-block;
			margin: 0 em(15);

			&:after {
				content: '–';
				position: relative;
				right: -18px;
			}

			&:last-child:after{
				display: none;
			}

			a {
				@include transition(linear all 0.2s);
				color: $refreshblue;
				font-size: em(14);
				font-weight: bold;
				text-transform: uppercase;
			}

			@include media($tablet-med) {
				margin: 0 em(5);

				&:after {
					display: none;
				}
			}

			@include media($tablet-small) {
				margin: 0 em(15);

				&:nth-child(4) {
					display: none;
				}
			}

			@include media($mobile) {
				display: block;
				margin-bottom: $base-line-height / 3;
			}
		}
	}
}

#top {
	background: url('../img/bg-banner.jpg') no-repeat top center $refreshblue;
	background-size: 100%;
	color: $white;
	overflow: hidden;
	position: relative;

	div.circle {
		border-radius: em(340);
		border: solid 2px $white;
		bottom: - em(75);
		height: em(680);
		opacity: 0.02;
		position: absolute;
		width: em(680);
		z-index: 0;

		&:before {
			background-color: $white;
			border-radius: em(320);
			content: '';
			height: em(640);
			left: em(20);
			position: absolute;
			top: em(20);
			width: em(640);
		}

		&#one {
			left: - em(75);
		}

		&#two {
			left: 50%;
			margin-left: - em(320);
		}

		&#three {
			right: - em(75);
		}

		@include media($tablet-small) {
			display: none;
		}
	}
}

#banner {
	padding: em(200) 0 em(100);
	text-align: center;

	@include media($mobile) {
		padding: em(100) 0 em(50);
	}

	@include media($desktop-med) {
		padding-right: $gutter;
		padding-left: $gutter;
	}

	h1 {
		@include span-columns(12);
		font-size: em(48);

		@include media($tablet-med) {
			font-size: em(36);
		}

		@include media($mobile) {
			font-size: em(24);
		}
	}

	h2 {
		@include span-columns(12);
		color: $glacier;
		font-size: em(21);
		font-weight: normal;
		font-family: $sans-serif;
		margin-bottom: em(100);
		text-transform: none;

		@include media($tablet-med) {
			font-size: em(18);
		}

		@include media($mobile) {
			font-size: em(14);
		}
	}

	.btn {
		@include span-columns(3);

		&#speaker {
			@include shift(3);
		}

		&:last-child {
			@include omega;
		}

		@include media($tablet-med) {
			@include span-columns(4);

			&#speaker {
				@include shift(2);
			}
		}

		@include media($tablet-small) {
			@include span-columns(6);

			&#speaker {
				@include shift(0);
			}
		}

		@include media($mobile) {
			@include span-columns(8);
			@include shift(2);

			&#speaker {
				@include shift(2);
				margin-bottom: $base-line-height;
			}
		}
	}
}

#next-event {
	padding: em(100) 0;
	text-align: center;
	position: relative;
	z-index: 100;

	@include media($mobile) {
		padding: em(50) $gutter;
	}

	h3 {
		@include span-columns(12);
		font-size: em(36);

		@include media($mobile) {
			font-size: em(24);
		}
	}

	em#subheader {
		@include span-columns(12);
		color: $glacier;
		font-size: em(18);
		font-weight: normal;
		font-style: normal;
		font-family: $sans-serif;
		margin-bottom: em(75);
		text-transform: none;

		@include media($mobile) {
			font-size: em(14);
			margin-bottom: em(50);
		}
	}

	.btn {
		@include span-columns(3);
		@include shift(4.5);

		@include media($tablet-med) {
			@include span-columns(4);
			@include shift(4);
		}

		@include media($tablet-small) {
			@include span-columns(6);	
			@include shift(3);
		}

		@include media($mobile) {
			@include span-columns(8);	
			@include shift(2);
		}
	}
}

#ticket {
	@include retina-image('ticket', 524px 202px, $asset-pipeline: true);
	background-position: center top;
	background-repeat: no-repeat;
	clear: both;
	height: em(224);
	text-align: left;
	margin: 0 auto em(75);
	width: 530px;

	@include media($mobile) {
		background: none;
		margin-bottom: em(0);
		width: 100%;
	}

	header,
	section,
	footer {
		margin-left: 95px;
		width: 415px;

		@include media($mobile) {
			margin-left: 0;
			width: 100%;
		}
	}

	strong{
		color: rgba(0,0,0,0.5);
		font-size: em(12);
		text-transform: uppercase;

		@include media($mobile) {
			font-size: em(12);
			color: $white;
		}
	}

	header {
		padding-top: em(15);
		margin-bottom: $base-line-height;

		h4 {
			font-size: em(18);
			font-family: $sans-serif;
			font-weight: normal;
			line-height: 1em;
			text-transform: none;

			a {
				color: $refreshblue;
			}
		}

		@include media($tablet-small) {
			h4 {
				font-size: em(16);
			}
		}

		@include media($mobile) {
			h4 {
				font-size: em(14);

				a {
					color: $white;
				}
			}
		}
	}

	section {
		margin-bottom: $base-line-height;
		overflow: hidden;

		em {
			display: block;
			color: $refreshblue;
			font-size: em(14);
			font-style: normal;
			line-height: 1em;
		}

		div:first-child {
			@include span-columns(2 of 5);
		}

		div:nth-child(2) {
			@include span-columns(2 of 5);
		}

		div:nth-child(3) {
			@include span-columns(1 of 5);
		}
		
		@include media($mobile) {
			em {
				color: $white;
				font-size: em(13);
				line-height: 0.9em;
			}
		}
	}

	footer {
		border-top: solid 3px rgba(0,0,0,0.5);
		clear: both;
		color: rgba(0,0,0,0.5);
		overflow: hidden;
		padding-right: 0;
		padding-top: $base-line-height / 2;

		#location {
			float: left;
			position: relative;
			top: -2px;
			
			i {
				font-size: em(24);
				position: relative;
				vertical-align: -4px;
				margin-right: 4px;
			}

			a {
				font-size: em(14);
				color: rgba(0,0,0,0.5);
			}
		}

		.note {
			font-size: em(12);
			float: right;
		}

		@include media($mobile) {
			border-color: rgba(255,255,255,0.5);
			padding-top: $base-line-height / 3;

			#location {
				i {
					color: $prim;
				}
				a {
					font-size: em(14);
					color: $prim;
				}
			}
			.note {
				display: none;
			}
		}
	}
}

#middle {
	background-color: $prim;

	header {
		height: em(40);
		margin-bottom: em(100);
		position: relative;
		text-align: center;

		hr {
			background-color: transparent;
			border-top: solid 1px rgba(0,0,0,0.2);
			border-bottom: solid 1px rgba(0,0,0,0.2);
			height: 4px;
			position: relative;
			top: -52px;
			z-index: 0;
		}

		h3 {
			background-color: $prim;
			color: $refreshblue;
			display: inline-block;
			font-size: em(36);
			padding: 0 em(5);
			position: relative;
			z-index: 10;
		}

		@include media($mobile) {
			margin-bottom: em(50);

			hr {
				top: -44px;
			}

			h3 {
				font-size: em(24);
			}
		}
	}
}

#what-is-refresh {
	padding-top: em(100);

	section {
		@include columns(2 $gutter);
		margin-bottom: em(100);
	}

	p {
		font-size: em(18);
		line-height: 1.7em;
		margin-bottom: 0;
	}

	@include media($mobile) {
		padding-top: em(50);

		section {
			@include columns(1);
			margin-bottom: $base-line-height;
		}

		p {
			font-size: em(14);
			line-height: 1.5em;
			margin-bottom: $base-line-height;
		}
	}

	footer {
		@include span-columns(6);
		@include shift(3);
		text-align: center;

		h3 {
			color: $refreshblue;
			font-family: $sans-serif;
			font-size: em(21);
			font-weight: normal;
			text-transform: none;
			margin-bottom: $base-line-height;
		}

		a {
			@include span-columns(3 of 6);
			font-size: em(14);

			i {
				font-size: em(24);
				position: relative;
				vertical-align: -3px;
				margin-right: 6px;
			}
		}

		@include media($tablet-small) {
			@include span-columns(8);
			@include shift(2);

			a {
				@include span-columns(4 of 8);
			}
		}

		@include media($tablet-small) {
			@include span-columns(12);
			@include shift(0);

			a {
				@include span-columns(6 of 12);
			}
		}

		@include media($mobile) {
			a {
				@include span-columns(8 of 12);
				@include shift(2);

				&:first-child {
					margin-bottom: $base-line-height;
				}
			}
		}
	}
}

#upcoming-events {
	padding: em(100) 0;

	@include media($mobile) {
		padding: em(50) 0;
	}

	@include media($desktop-med) {
		padding-right: $gutter;
		padding-left: $gutter;
	}

	article {
		@include span-columns(3 of 12);
		background-color: $white;
		border: solid 1px $alto;

		&:nth-child(4) {
			@include omega;
		}

		div.event-image {
			height: em(180);
			overflow: hidden;
			text-align: center;

			img {
				height: 100%;
				width: 100%;
			}

			i {
				font-size: em(96);
				line-height: 180px;
				color: rgba(0,0,0,0.1);
			}
		}

		section {
			@include clearfix;
			min-height: em(295);
			padding: $base-line-height;

			@include media($tablet-med) {
				min-height: em(310);
			}

			@include media($tablet-small) {
				min-height: em(295);
			}
		}

		h4 {
			color: $refreshblue;
			font-weight: normal;
			font-size: em(16);
			font-family: $sans-serif;
			line-height: 1.5em;
			margin-bottom: $base-line-height / 2;
			text-transform: none;

			@include media($tablet-med) {
				font-size: em(14);
			}
		}

		.location {
			color: $light-gray;
			display: block;
			font-size: em(13);
			margin-bottom: $base-line-height / 2;

			i {
				font-size: em(24);
				position: relative;
				vertical-align: -2px;
				margin-right: 4px;
			}

			a {
				color: $light-gray;
			}
		}

		p {
			font-size: em(14);
			margin-bottom: $base-line-height;
		}

		.btn {
			@include span-columns(2 of 3);
			@include shift(.5);
			font-size: em(14);
			height: em(40);
			line-height: em(40);
		}

		@include media($desktop-small) {
			@include span-columns(4 of 12);

			&:nth-child(3) {
				@include omega;
			}

			&:nth-child(4) {
				display: none;
			}
		}

		@include media($tablet-small) {
			@include span-columns(6 of 12);
			margin-bottom: $base-line-height;

			&:nth-child(2n+2) {
				@include omega;
			}

			&:nth-child(3) {
				display: inline-block;
			}

			&:nth-child(4) {
				float: right;
				display: inline-block;
			}
		}

		@include media($mobile) {
			@include span-columns(12 of 12);

			section {
				min-height: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#our-sponsors {
	background-color: $refreshblue;
	padding: em(100) 0;

	@include media($mobile) {
		padding: em(50) 0;
	}

	header {
		height: em(40);
		margin-bottom: em(100);
		position: relative;
		text-align: center;

		hr {
			background-color: transparent;
			border-top: solid 1px rgba(255,255,255,0.2);
			border-bottom: solid 1px rgba(255,255,255,0.2);
			height: 4px;
			position: relative;
			top: -52px;
			z-index: 0;
		}

		h3 {
			background-color: $refreshblue;
			color: $white;
			display: inline-block;
			font-size: em(36);
			padding: 0 em(5);
			position: relative;
			z-index: 10;
		}

		@include media($mobile) {
			margin-bottom: em(50);

			hr {
				top: -44px;
			}

			h3 {
				font-size: em(24);
			}
		}

	}

	.btn {
		@include span-columns(4);
		@include shift(4);
		margin-bottom: em(100);

		@include media($tablet-med) {
			@include span-columns(6);
			@include shift(3);
		}

		@include media($tablet-small) {
			@include span-columns(8);
			@include shift(2);
		}

		@include media($mobile) {
			@include span-columns(12);
			@include shift(0);
			margin-bottom: em(50);
		}
	}

	h4 {
		@include span-columns(12);
		color: $glacier;
		font-size: em(21);
		font-family: $sans-serif;
		font-weight: normal;
		text-transform: none;
		text-align: center;

		@include media($tablet-med) {
			font-size: em(18);
		}

		@include media($tablet-small) {
			font-size: em(16);
		}

		@include media($mobile) {
			font-size: em(14);
		}
	}
}

ul#sponsors {
	@include span-columns(12);
	margin-bottom: em(100);

	@include media($mobile) {
		margin-bottom: em(50);
	}

	li {
		@include span-columns(4 of 12);
		background-color: rgba(0,0,0,0.4);
		height: em(220);
		text-align: center;
		position: relative;

		@include media($mobile) {
			@include span-columns(12 of 12);
			margin-bottom: $base-line-height;
		}

		&:nth-child(3n+3) {
			@include omega;
		}

		&:nth-child(4) {
			@include shift(2);
		}

		&:nth-child(4),
		&:nth-child(5) {
			margin-top: $base-line-height;
		}

		a { 
			height: em(220);
			display: block;

			&:hover {
				border-bottom: none;
			}
		}

		span {
			@include transition(opacity linear 0.2s);
			color: $white;
			font-weight: bold;
			font-size: em(18);
			line-height: 220px;
			opacity: 0;
		}

		div {
			@include transition(opacity linear 0.2s);
			background-repeat: no-repeat;
			background-position: center;
			height: em(180);
			left: 50%;
			margin-left: - em(90);
			margin-top: - em(90);
			opacity: 1.0;
			position: absolute;
			top: 50%;
			width: em(180);

		}

		#thoughtbot {
			@include retina-image('logo_thoughtbot', 175px 175px, $asset-pipeline: true);

			@include media($tablet-med) {
				background-size: 100%;
				margin-left: - em(60);
				width: em(120);
			}
		}

		#teksystems {
			@include retina-image('logo_teksystems', 175px 175px, $asset-pipeline: true);

			@include media($tablet-med) {
				background-size: 100%;
				margin-left: - em(60);
				width: em(120);
			}
		}

		#sendgrid {
			@include retina-image('logo_sendgrid', 262px 67px, $asset-pipeline: true);
			background-size: 100%;
			height: em(67);
			margin-left: - em(131);
			margin-top: - em(33.5);
			width: em(262);

			@include media($desktop-small) {
				background-size: 100%;
				margin-left: - em(90);
				width: em(180);
			}

			@include media($tablet-med) {
				background-size: 100%;
				margin-left: - em(70);
				width: em(140);
			}
		}

		#galvanize {
			@include retina-image('logo_galvanize', 262px 67px, $asset-pipeline: true);
			background-size: 100%;
			height: em(62);
			margin-left: - em(130.5);
			margin-top: - em(31);
			width: em(261);

			@include media($desktop-small) {
				background-size: 100%;
				margin-left: - em(90);
				width: em(180);
			}

			@include media($tablet-med) {
				background-size: 100%;
				margin-left: - em(70);
				width: em(140);
			}
		}

		#zenman {
			@include retina-image('logo_zenman', 262px 67px, $asset-pipeline: true);
			background-size: 100%;
			height: em(36);
			margin-left: - em(131);
			margin-top: - em(18);
			width: em(262);

			@include media($desktop-small) {
				background-size: 100%;
				margin-left: - em(90);
				width: em(180);
			}

			@include media($tablet-med) {
				background-size: 100%;
				margin-left: - em(70);
				width: em(140);
			}
		}

		&:hover {
			div {
				opacity: 0;
			}
			span {
				opacity: 1.0;
			}
		}
	}
}

#main-footer {
	padding: em(100) 0;
	font-size: em(14);
	text-align: center;

	strong {
		text-transform: uppercase;
		display: block;
	}

	@include media($mobile) {
		font-size: em(12);
	}
}
