<header id="main-header">
	<div class="row">
		<span id="logo"><em>refresh</em> / denver</span>
		<nav id="main-nav">
			<ul>
				<li><a class="scroll" href="#next-event">Next Event</a></li>
				<li><a class="scroll" href="#what-is-refresh">What is Refresh</a></li>
				<li><a class="scroll" href="#upcoming-events">Upcoming Events</a></li>
				<li><a class="scroll" href="#our-sponsors">Our Sponsors</a></li>
			</ul>
		</nav>
	</div>
</header>

<section id="top">
	<section id="banner" class="row">
		<h1>We're A Community of Web Professionals</h1>
		<h2>bringing together the best and brightest web creatives in Denver</h2>
		<a href="mailto:talks@refreshdenver.org?subject=I would love to speak at Refresh Denver" class="btn blue" id="speaker">I want to be a speaker</a>
		<a href="http://www.meetup.com/refreshdenver/" class="btn" id="member">I want to be a member</a>
	</section>

	<section id="next-event" class="row">
		<h3>Our Next Event</h3>
		<em id="subheader">Be sure to join us if you can, it will be a blast</em>

		<section id="ticket">
			<header>
				<strong>Main Event</strong>
				<h4>
					<a href="http://www.meetup.com/refreshdenver/events/144445142/">
						Jay Ferracane, Creative Director - AngryBovine
					</a>
				</h4>
			</header>
			<section>
				<div>
					<strong>Cost</strong>
					<em>Free</em>
				</div>
				<div>
					<strong>Date</strong>
					<em>Nov 13, 2013</em>
				</div>
				<div>
					<strong>Time</strong>
					<em>7:00pm</em>
				</div>
			</section>
			<footer>
				<div id="location">
					<i class="icon-map-marker"></i>
					<a href="http://goo.gl/JE51j9">Stoney's Full Steam Tavern</a>
				</div>
				<span class="note">Limited Seats Available</span>
		</section>

		<a href="http://www.meetup.com/refreshdenver/events/144445142/" class="btn" id="register">Register for this event</a>
	</section>

	<div class="circle" id="one"></div>
	<div class="circle" id="two"></div>
	<div class="circle" id="three"></div>
</section>

<section id="middle">
	<section id="what-is-refresh" class="row">
		<header>
			<h3>What Is Refresh</h3>
			<hr />
		</header>
		<section>
			<p>Refresh Denver is a community of designers, developers, and other internet professionals working to refresh the creative, technical, and professional culture of their trades in the Denver, CO area.</p>
			<p>Our goal is simple: bring together the best and brightest new media professionals in the Denver metro area so that we may learn from one another. Our industry is too rich for any one person to “know it all.” That’s where we come in.</p>
		</section>
		<footer>
			<a class="btn blue" href="https://twitter.com/refreshdenver">
				<i class="icon-twitter"></i> Follow Our Twitter
			</a>
			<a class="btn blue" href="https://www.facebook.com/groups/refreshdenver">
				<i class="icon-facebook-sign"></i> Join Our Facebook Group
			</a>
		</footer>
	</section>

	<section id="upcoming-events" class="row">
		<header>
			<h3>Upcoming Events</h3>
			<hr />
		</header>
		<section>
			<article>
				<div class="event-image">
					<%= image_tag "events/joshtilton.jpg" %>
				</div>
				<section>
					<h4>Josh Tilton, UI/UX Designer at SendGrid</h4>
					<span class="location">
						<i class="icon-map-marker"></i>
						<a href="http://goo.gl/JE51j9">Stoney's Full Steam Tavern</a>
					</span>
					<p>Josh will be presenting about his personal design philosophy User Interface Judo.</p>
					<a href="http://www.meetup.com/refreshdenver/events/145920832/" class="btn">Register</a>
				</section>
			</article>
			<article>
				<div class="event-image">
					<%= image_tag "events/anthony.jpg" %>
				</div>
				<section>
					<h4>Anthony Navarre, Developer at thoughtbot</h4>
					<span class="location">
						<i class="icon-map-marker"></i>
						<a href="http://goo.gl/z2qT2M">Galvanize</a>
					</span>
					<p>Anthony will be presenting about Patterns in Javascript and Development. Stay tuned for more details.</p>
					<a href="http://www.meetup.com/refreshdenver/events/145921212/" class="btn">Register</a>
				</section>
			</article>
			<article>
				<div class="event-image">
					<i class="icon-beer"></i>
				</div>
				<section>
					<h4>Networking and Happy Hour; Speaker TBD</h4>
					<span class="location">
						<i class="icon-map-marker"></i>
						<a href="http://goo.gl/z2qT2M">Galvanize</a>
					</span>
					<p>We're actively working on a speaker for this event. Networking and Happy Hour will be taking place.</p>
					<a href="#" class="btn">Register</a>
				</section>
			</article>
			<article>
				<div class="event-image">
					<i class="icon-beer"></i>
				</div>
				<section>
					<h4>Networking and Happy Hour; Speaker TBD</h4>
					<span class="location">
						<i class="icon-map-marker"></i>
						<a href="http://goo.gl/z2qT2M">Galvanize</a>
					</span>
					<p>We're actively working on a speaker for this event. Networking and Happy Hour will be taking place.</p>
					<a href="#" class="btn">Register</a>
				</section>
			</article>
		</section>
	</section>
</section>

<section id="our-sponsors">
	<div class="row">
		<header>
			<h3>Our Sponsors</h3>
			<hr />
		</header>
		<section>
			<ul id="sponsors">
				<li>
					<a href="http://thoughtbot.com">
						<span>thoughtbot</span>
						<div id="thoughtbot"></div>
					</a>
				</li>
				<li>
					<a href="http://sendgrid.com">
						<span>SendGrid</span>
						<div id="sendgrid"></div>
					</a>
				</li>
				<li>
					<a href="http://teksystems.com">
						<span>TEKSystems</span>
						<div id="teksystems"></div>
					</a>
				</li>
			</ul>
			<a href="mailto:sponsors@refreshdenver.org?subject=Interested in Sponsoring Refresh Denver" class="btn">Want to sponsor Refresh Denver?</a>
		</section>

		<h4>Thanks for checking us out. Hopefully we'll see you at the next meetup.</h4>
	</div>
</section>

<footer id="main-footer">
	<div class="row">
		<strong>Organized By</strong>
		<a href="https://twitter.com/mikelockz">Michael Lockwitz</a>, <a href="https://twitter.com/andrewcohen">Andrew Cohen</a>, <a href="https://twitter.com/coreyhaggard">Corey Haggard</a>, and <a href="https://twitter.com/heymagruder">Christopher Magruder</a>
	</div>
</footer>
