---
---

.main-wrapper
  main.main-content
    .logo
      = partial "partials/logo.svg"
    section.mission
      p Refresh Denver is a community of designers, developers, and other internet professionals working to refresh the creative, technical, and professional culture of their trades in Denver.
      p Our goal is simple: bring together the best and brightest in the Denver metro area so that we may learn from one another. Our industry is too rich for any one person to “know it all.” That’s where we come in.
      p We meet every second Wednesday of the month.
    a.meetup href="https://meetup.com/refreshdenver" See our upcoming events

    ul.social
      li
        a href="https://twitter.com/refreshdenver" title="Twitter"
          = partial "partials/twitter.svg"
      li
        a href="https://facebook.com/refreshdenver" title="Refresh Denver"
          = partial "partials/facebook.svg"

  footer.main-footer
    strong Organized by
    ul.organizers
      li
        a href="https://twitter.com/andrewcohen" Andrew Cohen
      li
        a href="https://twitter.com/heymagruder" Christopher Magruder
      li
        a href="https://twitter.com/dtothemoney" Danielle Bilbruck
      li
        a href="https://twitter.com/gesq_" Gustavo Esquinca
      li
        a href="https://twitter.com/mikelockz" Michael Lockwitz

