%header#main-header
  .wrap
    #logo Refresh Denver
    %nav#main-nav
      %ul
        %li
          %a.scroll(href='#next-event') Next Event
        %li
          %a.scroll(href='#what-is-refresh') What is Refresh
        %li
          %a.scroll(href='#upcoming-events') Upcoming Events
        %li
          %a.scroll(href='#our-sponsors') Our Sponsors

%section#top
  %section#banner.wrap
    %h1 We're A Community of Web Professionals
    %h2 bringing together the best and brightest web creatives in Denver
    %a#speaker.btn.blue(href='mailto:organizers@refreshdenver.org?subject=I would love to speak at Refresh Denver') I want to be a speaker
    %a#member.btn(href='http://www.meetup.com/refreshdenver/') I want to be a member

  %section#next-event.wrap
    %h3 Our Next Event
    %em#subheader Be sure to join us if you can, it will be a blast
    %section#ticket
      %header
        %strong Main Event
        %h4
          %a(href='http://goo.gl/fZz9Vt')
            Alexander &amp; Mike, Partners at Young &amp; Hungry
      %section
        %div
          %strong Cost
          %em Free
        %div
          %strong Date
          %em January 14, 2015
        %div
          %strong Time
          %em 6:30pm
      %footer
        #location
          %i.icon-map-marker
          %a(href='http://goo.gl/O3QTem') Galvanize
        %span.note Limited Seats Available
    %a#register.btn(href='http://goo.gl/fZz9Vt') Register for this event

  #one.circle
  #two.circle
  #three.circle

%section#middle
  %section#what-is-refresh.wrap
    %header
      %h3 What Is Refresh
      %hr
    %section
      %p Refresh Denver is a community of designers, developers, and other internet professionals working to refresh the creative, technical, and professional culture of their trades in the Denver, CO area.
      %p Our goal is simple: bring together the best and brightest new media professionals in the Denver metro area so that we may learn from one another. Our industry is too rich for any one person to “know it all.” That’s where we come in.
    %footer
      %a.btn.blue(href='https://twitter.com/refreshdenver')
        %i.icon-twitter
        Follow our Twitter
      %a.btn.blue(href='https://facebook.com/refreshdenver')
        %i.icon-facebook
        Like us on Facebook

  %section#upcoming-events.wrap
    %header
      %h3 Upcoming Events
      %hr
    %section

      %article
        .event-image
          = image_tag "events/authentic.jpg", :alt => "Authentic Form & Function"
        %section
          %h4 Chris &amp; Bryant, Partners at Authentic Form &amp; Function
          %span.location
            %i.icon-map-marker
            Galvanize
          %p Authentic Form &amp; Function discuss challenges and situations that have come up with our remote studio.
          %a.btn(href='http://goo.gl/g2cPE2') Register

      %article
        .event-image
          = image_tag "events/aarongray.jpg", :alt => "Aaron Gray"
        %section
          %h4 Aaron Gray, Instructor at gSchool Boulder
          %span.location
            %i.icon-map-marker
            Galvanize
          %p Aaron will discuss the design implications of realtime applications that run in the browser including Meteor.
          %a.btn(href='http://goo.gl/EVMQ7t') Register

      %article
        .event-image
          = image_tag "events/lizelle.jpg", :alt => "Lizelle van Vuuren"
        %section
          %h4 Lizelle van Vuuren, CMO at WÜF
          %span.location
            %i.icon-map-marker
            Galvanize
          %p Lizelle is actively working on her talk. Stay tuned for more details!
          %a.btn(href='http://goo.gl/mtSAby') Register

      %article
        .event-image
          %i.icon-user
        %section
          %h4 Jonathan Black, Partner at Cast Iron Design
          %span.location
            %i.icon-map-marker
            Galvanize
          %p Jonathan is actively working on his talk. Stay tuned for more details!
          %a.btn(href='http://goo.gl/8QPEb7') Register

%section#our-sponsors
  .wrap
    %header
      %h3 Our Sponsors
      %hr
    %section
      %ul#sponsors
        %li
          %a(href='http://thoughtbot.com')
            %span thoughtbot
            #thoughtbot
        %li
          %a(href='http://galvanize.it')
            %span Galvanize
            #galvanize
        %li
          %a(href='http://getharmonic.com/')
            %span Harmonic Media
            #hm
        %li
          %a(href='http://zenman.com')
            %span Zenman
            #zenman
        %li
          %a(href='http://sendgrid.com')
            %span SendGrid
            #sendgrid

      %a.btn(href='mailto:organizers@refreshdenver.org?subject=Interested in Sponsoring Refresh Denver') Want to sponsor Refresh Denver?
    %h4 Thanks for checking us out. Hopefully we'll see you at the next meetup.

%footer#main-footer
  %strong
    Organized by:
  %a(href='http://twitter.com/mikelockz') Michael Lockwitz,
  %a(href='http://twitter.com/andrewcohen') Andrew Cohen,
  %a(href='http://twitter.com/gesq_') Gustavo Esquinca,
  %a(href='http://twitter.com/heymagruder') Christopher Magruder
